// Define theme
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$textFonts: 'Roboto', sans-serif;
$mainColor: black;
$secondaryColor: white;
$thridColor: #F6F6F6;
$subTitleColor: #eaeaea;

$textPrimaryColor: black;
$textSecondaryColor: white;
$textThridColor: #4f627b;

$primaryColorButton: #1c508d;
$premiereColor: #f7e000;