@import "../../styles/variables.scss";

.footer {
  width: 100%;
  color: $textThridColor;
  font-size: 12px;
  font-family:$textFonts;
}

.multicolumn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.is-1{
  width: 16.66666667%;
  img{
    width: 100%;
    max-width:150px;
  }
}

.is-2{
  width: 66.66666667%;
}

.iconSocial{
  width: min-content;
}

.mediaSocial{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  img{
    width: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.column{
  padding:0.75rem
}

.footer__legal{
  text-align: center;
}

a{
  text-decoration:none;
  color: $textThridColor;
  padding-right: 16px;
  padding-left: 16px;  
  padding-top: 1.6px;
  padding-bottom: 1.6px;
}

.item__legal::after{
  content: "|";
}

.container{
  padding-left:26px ;
  padding-right:26px ;
  padding-top:48px ;
  padding-bottom:48px ;
  background-color: $thridColor;
}
.footer-nav{
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  div{
    width: max-content;
  }
}
