@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

.cineco-alternativo {
  background-color: #f6f6f6;
  width: 100vw;
  padding: 2em 4em 1em 4em;
  font-family: "Noto Serif", serif;
  display: flex;
  justify-content: center;

  &__section-container {
    max-width: 1344px;
  }

  &__title {
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0.25px;
    font-weight: 500;
  }

  &__opera-grid {
    display: grid;
    grid-template-columns: 1fr;
    // border: 1px solid blue;
  }

  &__others-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
    column-gap: 1em;
    // border: 1px solid orangered;
  }
}
